 # My Final Project

# Introduction
This final project includes Data Science Languages, Data Science Libraries, Data Science Tools, some arithmetic expressions examples, sum and multiplication of some random integers, a code cell of converting minutes to hours and list of objectives of data science.

# Data Science Languages
1. Python
2. SQL
3. R
4. Java
5. Scala
6. C++
7. JavaScript
8. Go
9. Ruby
10. php
11. Visual Basic

# Data Science Libraries
There are some examples of data science libraries,
1. Pandas
2. Tendorflow
3. Seaborn
4. Numpy
5. Matplotlib
6. Apache Spark
7. Big DL
8. Ggplot2
9. PyTorch
10. Scikit-learn
11. Keras
12. Vegas

| Data Science Tools |
|-------|
|Jupyter Notebooks|
|R Studio|
|Anaconda|
|Zeppelin|
|Spyder|

In [4]:
# There is an example of arithmetic expression:
(4*5)+8

28

In [9]:
# Examples of sum and multiplication of some random integers, seperately:
4+5

9

In [10]:
6*3

18

In [11]:
# Converting 300 minutes to hours by dividing by 60
300//60

5

# Objectives:
1. Add comments to code cell
2. Create markdown cells 
3. Add ordered lists to markdown
4. Format content of markdown cells with heading styles

# Author's Name:
# Ece Pi≈ükin